.wrapper {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    background-color: #e6f0ff;
}

.top-nav {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 107px;
}

.menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 64px;
}

.menu-item {
    padding: 16px;
    font-weight: 500;
}

.actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 4px;
}
